@model HastaneProje.Models.Kullanici

@{
    if (TempData["mail"] == null)
    {
        Response.Redirect("/Home/Giris/", false);
    }
    var mail = TempData["mail"];

    ViewBag.Title = "Üye Ol";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1 class="mt-4 text-center">Üye Ol</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="" style="display: block; margin:auto; max-width: 800px; height: max-content; padding:20px;">

        <div style="display: block; margin: auto;">

            <div style="display: block; margin: auto; max-width:700px;">

                @Html.EditorFor(model => model.ad, new { htmlAttributes = new { @class = "form-control", @style = "margin: auto; max-width:600px;", @placeholder = "Adınızı girin", @autocomplete = "off" , maxlength="99"} })
            </div>
        </div>
        <br />
        <div style="display: block; margin: auto;">

            <div style="display: block; margin: auto; max-width:700px;">
                @Html.EditorFor(model => model.soyad, new { htmlAttributes = new { @class = "form-control", @style = "margin: auto; max-width:600px;", @placeholder = "Soyadınızı girin", @autocomplete = "off", maxlength = "99" } })
            </div>
        </div>
        <br />
        <div style=" display: block; margin: auto;">

            <div style="display: block; margin:auto; max-width:700px;">
                @if (mail != null)
                {
                    <input class="form-control" style="margin: auto; max-width:600px;" value="@mail" readonly />
                    @Html.HiddenFor(model => model.e_posta, new { Value = mail })
                }
            </div>
        </div>
        <br />
        <div style=" display: block; margin: auto;">

            <div style="display: block; margin:auto; max-width:700px;">
                @Html.EditorFor(model => model.tel_No, new { htmlAttributes = new { @class = "form-control", @style = "margin: auto; max-width:600px;", @placeholder = "Telefon numaranızı girin", @autocomplete = "off", maxlength = "11" } })
            </div>
        </div>
        <br />
        @Html.HiddenFor(model => model.yetkinlik, new { Value = false })
        <br />

        <div style="margin: auto;">
            <div style="display: block; margin:auto; max-width:700px;">
                <button type="submit" class="btn btn-success" style="margin:auto; display:block;">Üye Ol</button>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}